:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0.25rem 0.5rem;
  font-size: 1.25rem;
}

.__dml_list_item {
  width: 380px;
  border: 1px solid black;
  margin: 1rem 0;
  text-align: center;
}

.__dml_list_item a {
  font-size: 1.5rem;
  text-decoration: none;
}

input.__dml_text-field {
  border: 1px solid grey;
  padding: 1rem 0.5rem;
  width: 100%;
  margin: 0.25rem 0;
  font-size: 1rem;
}
